
/* cái này dùng để chuẩn hóa trang web để nó ko thêm bất kỳ khoảng trắng nào vào trang web*/

/*------------------------------------------------- ĐỔI MÀU CĂN LỀ CHO CHỮ My Resume *--------------------------------------*/
#Duc_cho {  /* cái này dùng để đổi màu cho cái My Resume mà muốn đổi màu thì phải cho cái My Resume = 1 cái id nào nào đó tùy mình */
    margin: 0; /* xóa khoảng trắng của h1*/
    background-color: green;
    color: yellow;
    text-align: center; /* text-align dùng để sắp xếp vị trí của chữ */
    padding: 50px; /*padding : trên; phải: dưới: trái có thẻ chọn kích cỡ cho từng cái còn nếu chỉ ghi 1laanf thì tất cả kích cỡ là như nhau */
}
/* -----------------------------------cái này dùng để đổi màu cho background trong nav------------------------------ */
nav { 
    background-color: black;
    overflow: hidden; /*tất cả những cái nào khi mình chỉ vào nó lồi ra thì nó sẽ ko lồi ra nữa*/
    /* padding nếu chỉ ghi 2 con số thì nó hiểu số 14px là kích cỡ trên, dưới
    còn 20px là phải, trái */
}
/* -----------------------------------cái này dùng để đổi màu cho tất cả chữ có trong <a>------------------------------ */
nav a { 
    color: white;
    padding: 14px 20px; /* padding này dùng để cách các chữ ra một khoảng */
    text-decoration: none;  /*cái này dùng để xóa bỏ đi nhũng cái trang trí*/
    /*float: left;  tất cả những cái thằng contact,education,điểm,social media, trôi sang bên trái*/
}
/* ---------------DÙNG ĐỂ ĐỔI MÀU CỦA CÁC CHỮ TRONG a KHI CHỈ CHUỘT VÀO ------------------------------ */
nav a:hover { /* hover là một hành động */
    background-color: #ddd; /*KHI CHỈ VÀO MỘT CHỮ NÀO ĐÓ NÓ ĐỔI MÀU*/ 
    color: black; /*ĐÂY LÀ ĐỔI MÀU CỦA MỘT CHỮ */
}
/* ---------------DÙNG ĐỂ ĐẨY CÁC CHỮ contact,education,điểm SANG BÊN TRÁI------------------------------ */
nav a.menu_left{
    float: left;
}
/* ---------------DÙNG ĐỂ ĐẨY CÁC CHỮ social media SANG BÊN PHẢI------------------------------ */

nav a.menu_right{
    float: right;
}

/* -------------chia bố cục website----------- */
#flex_container {
    display: flex;
    flex-wrap: nowrap;
}

#left_side {
    flex: 30%;
    background-color: #AAAAAA;
    padding: 10px 20px;
}

#right_side {
    flex: 65%;
    padding: 10px 20px;

}
/* ----------------------ĐỔI MÀU CHỮ VÀ MÀU HÔNG NỀN CỦA FOOTER--------------------------*/
#coment {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
#coment > a { 
    color: aquamarine;
}

/* tạo bảng */
table {
     border-collapse: collapse; /*DÙNG ĐỂ TẠO NHỮNG ĐƯỜNG VIỀN Trắng TRONG BẢNG */
}
table td, table th {
    border: 1px solid #ddd; /*DÙNG ĐỂ TẠO NHỮNG ĐƯỜNG VIỀN Trắng TRONG BẢNG */
    padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    text-align: center;
    background-color: #009900;
    color: white;
}
/* DÙNG ĐỂ CĂN GIỮA CHO CÁC SỐ TRONG BẢNG*/
table td {
    text-align: center; 
}


.course_item {
    width: 33%;
    float: left;
    text-align: center;
}

.course_img {
    width: 90%;
}

/*  */
@media(max-width: 800px) {
    #left_side {
        flex: 100%;
    }
    #right_side {
        flex: 100%;
    }

    #flex_container {
        flex-wrap: wrap;
    }
}

@media(max-width: 400px) {
    #left_side {    
        flex: 100%;
    }
    #right_side {
        flex: 100%;
    }

    #flex_container {
        flex-wrap: wrap;
    }

    .course_item{
        width: 40%;
    }
}

